 @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
body{
  display: flex;
  align-items:center;
  justify-content:center;
}

#contain{
  margin:20px;
  min-height: 60vh;
  min-width:60vw;
  border:solid;
  border-color: grey;
  border-width:10px;
  background: #1F1C2C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,          #928DAB, #1F1C2C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #928DAB, #1F1C2C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Pixelify Sans', sans-serif;
}

#screen{
  all:inherit;
  padding: 20px;
  height:fit-content;
  max-height: 10vh;
  min-width: 80%;
  background: #232526;  
  background: -webkit-linear-gradient(to right, #414345, #232526);  
  background: linear-gradient(to right, #414345, #232526); 
  color: green;
  overflow: hidden;
  overflow-y: scroll;

 
}

#pad{
  all:inherit;
  height:fit-content;
  background: #667db6;  
background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); 
background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); 
}

.paddy{
  display:grid;
  grid-template-columns: auto auto auto;
  margin:10px;
  padding:10px;
}


#upt{
  text-align:center;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 2rem;
  color:orange;
}


/*          buttons                              */

.front {
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }

.pushable:hover .front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }

.pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }


.pushable {
  background: hsl(340deg 100% 32%);
  border: none;
  border-radius: 12px;
  padding: 0;
  cursor: pointer;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-4px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}